  /* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #e9ecef;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

/* Header Styles */
.header {
  background-color: #007bff;
  padding: 20px 0;
  color: white;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.form-container input,
.form-container select,
.form-container button {
  border-radius: 5px;
}

/* Input Styles */
.form-control,
.form-select {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ced4da;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}

.form-control:focus,
.form-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

/* Button Styles */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px; 
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.btn-primary:active {
  transform: translateY(1px); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}


/* Results Styles */
.results-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
 
  margin: 30px auto;
}

#result {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}


.container1 h1{
  font-size: 4rem;
  
}

.res{
  font-size: 2.5rem;
}

